.clickable {
  cursor: pointer;
}

.nodrag {
  -webkit-user-drag: none;
  user-select: none;
}

.hide {
  display: none;
}

.bolder {
  font-weight: bolder;
}

.italic {
  font-style: italic;
}

.noto-sans-kr-400 {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
